<!DOCTYPE html>
<html lang="en">

<head>
    <title>Pico!</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
</head>

<body>
    <script>
        alert("yoyoyo"); 
    </script>
    <% include top-navbar%>
    <div class="container">
        
    </div>
</body>

</html>